extends layout

block content
  script(src="/javascripts/responder.js")
  div.main(style="width: 100%; height:100%; overflow:hidden;")
    div(style="position: absolute; top:0px; bottom:0px; left:0px; right:0px; background: url('/icons/commonwealth-park-canberra-act-bike-paths-events-p11.jpg')")
      div(style="position: absolute; top:45%; left:45%; border: solid; color: white; padding:10px;")
        a(href="/auth/strava" style="color: white; font-size: 48px; font-weight: bold; text-decoration: none; ") Login